<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redb.hearingyou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Vistas.PsychologistProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vistas.PatientMainPageActivity" />
        <activity android:name=".Vistas.PsychologistMainPageActivity" />
        <activity android:name=".Vistas.ConversacionActivity" />
        <activity android:name=".Vistas.RegistryActivity" />
        <activity android:name=".Vistas.LoginActivity">

        </activity>
    </application>

</manifest>